<p-card header="Precipitation probability" [style]="{ width: '100%', height:'100%', background: '#c9c9c9' }">
  <div class="precipitation">
    <h3>
      <span class="material-icons">water_drop</span>
      <span>Now: {{ probabilityNow() }} %</span>
    </h3>

    @if(maxProbabiliy()>0)
    {
    <h4>
      <span class="material-icons">arrow_upward</span>
      <span>Max: {{ maxProbabiliy() }} % at </span>
      <span class="material-icons">access_time</span>
      <span>{{ maxHour() }}:00</span>
    </h4>
    }

  </div>
</p-card>