@import "primeflex/primeflex.scss";

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98%;
  margin-top: 1vh;
  margin-left: 5%;
  background-color: #efefef;
  padding: 1.5rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);

  .top-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 90%;
  }
  h2 {
    color: rgb(255, 152, 0);
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .hello-user-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9999px;
    background-color: white;
    color: #2d3748;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #edf2f7;
    }

    .avatar {
      width: 24px;
      height: 24px;
      border-radius: 9999px;
    }
  }
}

.favorite-zone {
  max-height: 80%;
}
.favorite-list {
  overflow-y: auto;
  max-height: 90%;
  overflow-x: hidden;
}

.favorite-list::-webkit-scrollbar {
  width: 4px;
}

.favorite-list::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 10px;
}

.favorite-list::-webkit-scrollbar-thumb {
  background: rgb(255, 152, 0);
  border-radius: 10px;
}

.favorite-list::-webkit-scrollbar-thumb:hover {
  background: #ffa726; /* Slightly darker shade on hover */
}
.menu-btn {
  display: none;
}
.logout-btn2 {
  display: none;
}
.logout-btn {
  display: flex;
  align-items: center;
  margin-top: 8px;
  max-width: 100px;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #4a4a4a;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #333;
  }

  .material-icons {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .left-panel {
    //display: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
    align-items: center;

    .top-section
    {
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 0;
    }

    .bottom-section {
      width: 0;
      height: 0;
      display: none;
    }

    .home-icon {
      display: none;
    }
    .menu-btn {
       
       width: 8%;
       display: inline;
       height: 65%;
       margin-left: 5%;
    }

    .logout-btn2 {
       width: 8%;
       display: inline;
       margin-top: 1%;
       height: 65%;
       margin-left: 89%;
       background-color: red;
    }
  }
}
