<div class="left-panel">
  <div class="top-section">
    <div class="home-icon">
      <div class="flex align-items-center gap-2">
        <span class="material-icons text-orange-500">home</span>
        <span class="text-orange-500 text-lg font-medium">Home</span>
      </div>
    </div>

    <!-- <button class="menu-btn">
      <span class="material-icons" (click)="showMenu()">menu</span>
    </button>-->
    <button class="logout-btn2">
      <span class="material-icons" (click)="logout()">logout</span>
    </button>
  </div>

  <div class="bottom-section">
    <button class="hello-user-btn" (click)="goToLogin()">
      <span class="material-icons">person</span>
      <span>Hello, {{ username }}</span>
    </button>

    <button class="logout-btn" (click)="logout()">
      <span class="material-icons">logout</span>
      <span>Logout</span>
    </button>
  </div>
</div>
@if(showMenuv==true)
{
<app-side-menu (close)="closeMenu()"></app-side-menu>
}